*{
	margin: 0;
	padding: 0;
}

 /* index.html */
 /* ----- start ----- */

.login_button{
	/* 文字の大きさ */
	font-size: 15px;

	/* 文字の太さ */
	font-weight: bold;

	/* ボタンの大きさ 縦　横 */
	padding: 10px 20px;

	background-color: red;

	float: right;
}

.holidays_button{
	/* 文字の大きさ */
	font-size:30px;

	/* 文字の太さ */
	font-weight: bold;

	/* ボタンの大きさ　縦　横 */
	padding: 200px 200px;

	/* 背景色を変更 */
	background-color: #C0C0C0;

	margin-left: 450px;
}

.border-radius{
	-webkit-border-radius: 10px;

}

.hoge{

	padding: 0;
	background-color: #CCFFCC;

	height: 100%;
}

/* ----- end ----- */

/* login.html */
/* ----- start ----- */

.login_table{
	position: absolute;
	top: 0px;
	right: 100px;
	bottom: 100px;
	left: 600px;
	margin: auto;
}