.login {
    margin-top: 20px;
    margin-right: 45px;
    float: right;
}

.info {
    margin-bottom: 15px;
}
.info h2 {
	display: inline;
	font-size: 16px;
}

.table {
	table-layout: fixed;
}

.table .reson {
	width: 400px;
}

.table .detail {
	text-align: center;
}

.table th {
	text-align: center;
}

.table td {
	font-size: 18px;
}

.paginator {
    margin-bottom: 20px;
    text-align: center;
    width: auto;
}

.paginator > span:not(:last-child) {
    margin-right: 5px;
}