h1{
	text-align:center;
}

form{
	text-align:center;
}
div#tab-unit,
h3.tab,
h3.tab a,
div.tab-target,
div.tab-content,
div.tab-content p {
	margin: 0;
	padding: 0;
}
div#tab-unit {
	position: relative;
	width: 500px;
	height: 250px;
	margin: 0 auto;
}
h3.tab {
	position: absolute;
	top: -25px;
}
h3.tab a {
	display: block;
	width: 100px;
	height: 25px;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	line-height: 25px;
	border-top:   1px solid #000;
	border-right: 1px solid #000;
	cursor: default;
}
h3.tab a,
div.tab-content {
	background-color: #fff;
}
h3.tab a:link,
h3.tab a:visited,
h3.tab a:hover,
h3.tab a:active,
div.tab-content {
	color: #000;
}
div.tab-target {
	position: fixed;
	top: 0;
	width: 0;
	line-height: 0;
	visibility: hidden;
}
div#tab-target-1 + div.tab-content h3.tab {
	left: -1px;
	z-index: 20;
}
div#tab-target-2 + div.tab-content h3.tab {
	left: 99px;
}
div#tab-target-3 + div.tab-content h3.tab {
	left: 199px;
}
div#tab-target-4 + div.tab-content h3.tab {
	left: 299px;
}
div#tab-target-1 + div.tab-content {
	z-index: 10;
}
div#tab-target-1 + div.tab-content h3.tab a {
	border-left: 1px solid #000;
	}
div#tab-target-1:target + div.tab-content,
div#tab-target-2:target + div.tab-content,
div#tab-target-3:target + div.tab-content,
div#tab-target-4:target + div.tab-content {
	z-index: 100;
}
div.tab-content {
	position: absolute;
	top: 25px;
	left: 0;
	width: 500px;
	height: 200px;
	padding: 20px;
	box-sizing: border-box;
	border: 1px solid #000;
}

#tab-unit{
	text-align:center;
}
